.Calculadora {
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    width: 300px;
    background-color: #fff;
    margin-top: 100px;
    overflow: hidden;
}

.Calculadoraa {
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
        overflow: auto;
            align-items: center;
            background-color: rgb(255, 255, 255);
            z-index: 1;
            position: relative;
}

.btn-operator {
    background-color: #72fca2;
    color: #a452f2;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons button {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.theme-toggler {
    position: absolute;
    top: 22%;
    left: calc(94% + -400px);
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    z-index: 1;
}



.theme-toggler.active::before {
    background-color: #4c96f8;
    
}


.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: hidden;
}


button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 110px;
}

/* Tema Claro CSS */

.Calculadora {
    background-color: #fff;
}

.Calculadora #display {
    color: #0a1e23;
}

.Calculadora button#clear {
    background-color: #d5ffe9;
    color: #fc4552;
}

.Calculadora button.btn-number {
    background-color: #72ed93;
    color: #000000;
}

.Calculadora button.btn-operator {
    background-color: #72fca2;
    color: #a452f2;
}

.Calculadora button.btn-equal {
    background-color: #57e386;
    color: #000;
}

/* <<<Tema Oscuro CSS>> */

.Calculadora.dark {
    background-color: #071115;
}

.Calculadora.dark #display {
    color: #f8fafb;
}

.Calculadora.dark button#clear {
    background-color: #2d1b19;
    color: #bd3740;
}

.Calculadora.dark button.btn-number {
    background-color: #381b1b;
    color: #f8fafb;
}

.Calculadora.dark button.btn-operator {
    background-color: #39281f;
    color: #a54646;
}

.Calculadora.dark button.btn-equal {
    background-color: #333322;
    color: #ffffff;
}