.bodycolor{
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
    padding: 20px; /* Añade un poco de padding para que el contenido no esté pegado al borde */
    box-sizing: border-box; /* Incluye el padding en el tamaño total del contenedor */


}
.color{
    text-align: center;
    margin-top: 80.4px;  
    min-height: 110vh;

  }

  .colors-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.single-card {
    width: 200px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
}
.single-card .content{
    text-align: center;
    padding: 8px 25px;
    border-radius: 10px;
    display: none;
}
.single-card p {
    margin: 0;
    color: #0d0d0d;
    font-weight: 600;
}
.single-card:hover {
    transform: scale(1.05 );
}
.single-card:hover .content {
    background: #d6d6dc9c;
    display: block;

}
.single-card button {
    background-color: transparent;
    border: 0px;
    border-radius: 9px;
    width: 42px;
    padding: 5px 6px;
    cursor: pointer;
    margin-top: 7px;
}
.single-card button img {
    width: 100%;
}
.copy-alert {
    font-size: 12px;
    color: gray;
    position: absolute;
    bottom: 10px;
}
.form-color {
    text-align: center;
    margin: 2% 0%;
    font-size: 30px;

}
.form-color h1 {
    font-size: 4rem;
    line-height: 2.5rem;
    font-weight: 900;
    color: #0d0d0e;
    text-shadow: 2px 3px 0px #fff;
}
.form-color input[type="text"] {
    font-size: inherit;
    padding: 12px 13px;
    background-color: rgb(68, 68, 68);
    color : #ffffff;
    outline: none;
    border: 0;
    border-radius: 10px;
}
.form-color input[type="submit"] {
    border: 0;
    outline: none;
    padding: 12px;
    font-size: inherit;
    border-radius: 10px;
    background-color: #000000;
    color: #f0f0f0;
    transition: 0.3s;
}
.form-color input[type="submit"]:hover {
    background-color: #0b080e6b;
}

.form-color form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.error {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: red;
    width: fit-content;
    margin: 30px auto 0px;
    padding: 4px 11px;
    border-radius: 8px;
}

p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}