.contact,
.projects {
    margin: 0;

}
.contact {
    background-color: #fdfdfd;
    width: 100%;
    height: 100vh;
                padding: 20px;
                    box-sizing: border-box;
                    position: relative;
                    /* Asegura que el z-index funcione */
                    z-index: 1;
                    /* Coloca este contenedor encima del video */
    }
.animated-text {
  height: 1.5em; 
  display: flex;
  justify-content: center;
  align-items: center;
}




.contact-container {
    display: flex;
    flex-direction: column;
    left: 20px;
    box-sizing: border-box;
}

.contact-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;

}
.contact-form {

    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
}