@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.bodygift {
    font-family: 'Lato', sans-serif;
    background-color: #fdfdfd;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.gift {
    text-align: center;
    margin-top: 33px;
    padding-top: 1px;
}

.gift_container input {
    background-color: rgb(160, 160, 160);
    height: 70px;
    width: 1000px;
    border: none;
    color: white;
    max-width: 90%;
    margin-top: 1px;
}

.container-gifs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1%;
    margin-top: 10px;
    max-height: 70%;
}

.container-gifs div img {
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.error {
    color: red;
}

p.author {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 7px;
    color: #ff0000;
}

p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #fc0000;
}
