.home {
    background-image: url('../F1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}

.works,
.about-me,
.contact {
    background-color: white;
}