html {
    font-family: sans-serif;
}
.bodyregister{
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
    padding: 20px; /* Añade un poco de padding para que el contenido no esté pegado al borde */
    box-sizing: border-box; /* Incluye el padding en el tamaño total del contenedor */

}
.form-wrapper {
    margin-top: 3%;
    display: flex;
    align-items: center;
    width: 1876px;

    

}

.form-container {
    background-color: rgba(237, 236, 236, 0.8);
    padding: 50px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(1, 7, 10, 0.2);
    margin-right: auto;
    
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6b6969;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #d1d0e7;
}

.error-message {
    color: red;
}

form p {
    margin-top: 10px;
}

form a {
    color: #010901;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}