      * {

      }
.projects {
    background-color: #ffffff;
    min-height: 100vh;
}

      .container {
          position: relative;
      }

      .row {
          line-height: 0;
      }

      .wall,
      .sushi,
      .onigiri,
      .blank,
      #ninjaman {
          height: 40px;
          width: 40px;
          display: inline-block;
          background-size: contain;
      }

      .wall {
          background-color: blue;
      }

      .sushi {
          background-color: black;
          background-image: url('../assets/images/sushi.png');
      }

      .onigiri {
          background-color: black;
          background-image: url('../assets/images/onigiri.png');
      }

      .blank,
      #ninjaman {
          background-color: black;
      }

      #ninjaman {
          background-image: url('../assets/images/ninja.gif');
          position: absolute;
      }

      #scoreboard {
          background-color: black;
          text-align: center;
          color: white;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 18px;
          position: absolute;
          top: 0;
          left: 400px;
      }
