.section-container{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects {
    overflow-y: auto;


}
.Comingsoon{
    text-align: center;
}