.projects {
    overflow: auto;
    align-items: center;
    
}
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    /* Mueve el contenido 20px a la derecha */
}
.text-center {
    content: none;
}

.Comingsoon {
    text-align: center;
}
