/* register.css */
.bodyregister {
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

html {
    font-family: sans-serif;
}

.form-container-register {
    background-color: rgba(237, 236, 236, 0.8);
    padding: 50px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(1, 7, 10, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 165px;
    /* Mueve el contenedor 30 píxeles a la derecha */
}

h2::before,
h2::after {
    content: none;
    /* Elimina cualquier contenido antes o después del texto */
}

.form-group-register {
    margin-bottom: 20px;
}